In [72]:
import pandas as pd
messages3=pd.read_csv("https://raw.githubusercontent.com/Aniket23160/Google-Jigsaw-Project/master/test.csv")

messages2=pd.read_csv("https://raw.githubusercontent.com/Aniket23160/Google-Jigsaw-Project/master/validationnew.csv")
messages=pd.read_csv("https://raw.githubusercontent.com/Aniket23160/Google-Jigsaw-Project/master/trainnew.csv")

In [73]:
print(len(messages))

5099

In [74]:
messages3.head()

   id                                            content lang
0   0  Doctor Who adlı viki başlığına 12. doctor olar...   tr
1   1   Вполне возможно, но я пока не вижу необходимо...   ru
2   2  Quindi tu sei uno di quelli   conservativi  , ...   it
3   3  Malesef gerçekleştirilmedi ancak şöyle bir şey...   tr
4   4  :Resim:Seldabagcan.jpg resminde kaynak sorunu ...   tr

In [75]:
messages.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [76]:
messages.describe()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,5099.000000,5099.000000,5099.00000,5099.000000,5099.000000,5099.000000
mean,0.099627,0.010002,0.05354,0.003922,0.053736,0.009806
std,0.299532,0.099518,0.22513,0.062512,0.225518,0.098547
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [77]:
messages.groupby('toxic').describe()

      severe_toxic                                             obscene  \
             count      mean      std  min  25%  50%  75%  max   count
toxic
0           4591.0  0.000000  0.00000  0.0  0.0  0.0  0.0  0.0  4591.0
1            508.0  0.100394  0.30082  0.0  0.0  0.0  0.0  1.0   508.0

                 ... insult      identity_hate                                \
           mean  ...    75%  max         count      mean       std  min  25%
toxic            ...
0      0.004792  ...    0.0  1.0        4591.0  0.000436  0.020870  0.0  0.0
1      0.494094  ...    1.0  1.0         508.0  0.094488  0.292795  0.0  0.0


       50%  75%  max
toxic
0      0.0  0.0  1.0
1      0.0  0.0  1.0

[2 rows x 40 columns]

In [78]:
train_x=messages['comment_text']
train_y=messages['toxic']

In [79]:
train_x

0       Explanation\nWhy the edits made under my usern...
1       D'aww! He matches this background colour I'm s...
2       Hey man, I'm really not trying to edit war. It...
3       "\nMore\nI can't make any real suggestions on ...
4       You, sir, are my hero. Any chance you remember...
                              ...
5094    Thanks a lot! As Italian (and Roman -)) it is ...
5095    lying and deceit, harassment of others\n\nboll...
5096    "\n\n Question \n\nNow we have the same Turkis...
5097    You have just been reverted again. I have also...
5098                            Thanks! ) just signed on.
Name: comment_text, Length: 5099, dtype: object

In [80]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import sklearn.datasets 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [81]:
cv=TfidfVectorizer(min_df=1,stop_words='english')

In [82]:
x_traincv=cv.fit_transform(train_x)

In [83]:
a=x_traincv.toarray()

In [84]:
mnb=MultinomialNB()

In [85]:
train_y=train_y.astype('int')

In [86]:
mnb.fit(x_traincv,train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [87]:
val_x=messages2['comment_text']
val_y=messages2['toxic']

In [88]:
x_valcv=cv.transform(val_x)

In [89]:
pred=mnb.predict(x_valcv)

In [90]:
actual=np.array(val_y)

In [91]:
count=0
for i in range(len(pred)):
    if pred[i]==actual[i]:
        count=count+1

In [92]:
count

747

In [93]:
len(pred)

899

In [94]:
accuracy= (count/len(pred))

In [95]:
accuracy

0.8309232480533927

In [96]:
from sklearn.metrics import confusion_matrix

In [97]:
confusion_matrix(pred,val_y)

array([[746, 152],
       [  0,   1]], dtype=int64)

In [98]:
test_x=messages3['content']
x_testcv=cv.transform(test_x)

In [99]:
pred_test=mnb.predict(x_testcv)

In [100]:
pred_test

array([0, 0, 0, ..., 0, 0, 0])

In [101]:
pred_test.shape

(63812,)

In [102]:
messages3.shape

(63812, 3)

In [103]:

import pandas as pd 
pd.DataFrame(pred_test).to_csv("submission.csv")